<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
    <body>
        <%- include('../partials/nav') %>
        <div style="padding: 10px">
            <p>ADSB One aims to be an open replacement to ADSBExchange in lieu of the recent sell off to a PE firm. Historical data and API will be available soon.<br/>
            Please also check out <a href="https://adsb.lol">adsb.lol</a>. An entirely open source adsb aggregator.</p>


            
            <h3>Feed with readsb docker</h3>
            <a href="https://github.com/sdr-enthusiasts/docker-multifeeder">SDR Enthusiasts Multi Feeder Container</a>
            
            <h3>ADSB Feed information:</h3>
            <p><b>URL</b>: feed.adsb.one<br/>
            <b>Beast port</b>: 64004<br/>
            <b>MLAT port</b>: 64006</p>
            <h3>ACARS Feed information:</h3>
            <p><b>URL</b>: feed.adsb.one<br/>
            <b>ACARS UDP port</b>: 5550<br/>
            <b>VDLM2 UDP port</b>: 5555</p>
        </div>
    </body>

</html>