<!DOCTYPE html>
<html>
<%- include('../partials/header') %>
    <body>
        <%- include('../partials/nav') %>

        <div class="container">
            <h1>ADSB One stats</h1>
            <div class="btn-group" role="group" aria-label="Time Range">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">2 hours</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">8 hours</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">24 hours</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4">48 hours</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio5">7 days</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio6">14 days</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio7">30 days</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio8">3 months</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio9">6 months</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio10">1 year</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio11">2 years</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio12">3 years</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio13">5 years</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio14">10 years</label>
            </div>
            <div id="panel_1090" style="display:block" class="panel panel-default">
                <div class="panel-heading">Mode S Graphs</div>
            </div>
        </div>

    </body>
</html>